<div id="Container"
 style="padding-bottom:140%; position:relative; display:block; width: 100%">
<iframe 
    src="{{ .Get "src" }}"
    class="pixelfed__embed"
    style="max-width: 100%; border: 0" 
    width="400" 
    allowfullscreen="allowfullscreen"></iframe>
    <script async defer src="https://pixelfed.social/embed.js">
    </script>
</div>

<!--  -->
<!-- <iframe src="https://pixelfed.social/p/bonte.lu/494171014432204481/embed?caption=false&likes=false&layout=full" class="pixelfed__embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script async defer src="https://pixelfed.social/embed.js"></script> -->